.body {
  background: #9b9b9b no repeat fixed center;
}
.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin: auto;
  padding: auto;
  background: #9b9b9b;
}
.calctable {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin: auto;
  padding: 250px;
  background: #9b9b9b;
}

.inputbox {
  padding: 5px;
}