/* .calctable {
  position: absolute;
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 750px;
  max-height: 750px;
} */
.calctable {
  display: flex;
  flex-direction: row;
  width: 960px;
  margin: 0 auto;
  padding: 500px;
  background: #9b9b9b;
}

.inputbox {
  padding: 5px;
}